<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>xmap</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<!-- default start -->
	<servlet>
		<servlet-name>default</servlet-name>
		<init-param>
			<param-name>useFileMappedBuffer</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	
	<filter>
		<filter-name>GzipFilter</filter-name>
		<filter-class>org.eclipse.jetty.servlets.GzipFilter</filter-class>
		<init-param>
			<param-name>mimeTypes</param-name>
			<param-value>text/html,text/plain,text/xml,application/xhtml+xml,text/css,application/javascript,image/svg+xml</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>GzipFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> 
	<!-- default end -->
	
	<servlet>
		<description></description>
		<display-name>DataServlet</display-name>
		<servlet-name>DataServlet</servlet-name>
		<servlet-class>servlet.DataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataServlet</servlet-name>
		<url-pattern>/data</url-pattern>
	</servlet-mapping>
	
	
</web-app>
